@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
*{
	box-sizing: border-box;
	font-family: 微軟正黑體;
	font-size: 16px;
	font-weight: normal;
}
html, body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;

}
.container{
	width: 100%;
	height: 100%;
}
.container::after{
	content: "";
	display: block;
	clear: both;
}
.dog-intro-container{
	display: block;
	float: right;
	width: 60%;
	text-align: center;
}
.dog-intro{
	/*image*/
	width: 90%;
}
.index-intro-container{
	display: block;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.index-intro-container::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	animation-name: darker;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.index-pic{
	width: 100%;
}
.index-text{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	animation-delay: 2s;
}
.index-text p{
	position: relative;
	left: 0;
	top: 20%;
	color: #ffffff;
	margin: 20px 0 20px 10%;
	font-size: 2.5rem;
}
.index-text p:nth-child(2){
	text-indent: 5rem;
}
.index-text #know-more{

	position: relative;
	left: 0;

	color: #ffffff;
	margin: 20px 0 20px 15%;
	font-size: 1.5rem;

	padding: 5px;
	border: 2px solid #ffffff;
	width: 20%;
	text-align: center;
	cursor: pointer;
}
.index-text a:visited{
	color: #ffffff;
}

.text-intro-container{
	margin-top: 8%;
	padding-left: 8%;
	width: 40%;
	display: block;
	float: left;
	background: url("function/yoyo1.png");
	background-size: cover;
	height: 100%;
}
.function-header{
	color: #2A7E3A;
	font-size: 4rem;
	margin-top: 20px;
	margin-bottom: 20px;
}
.function-header ~ p{
	text-align: justify;
	font-size: 1.5rem;
	margin: 5px 0 5px 50px;
}
#index{
	width: 100%;
	height: 100vh;
}
#page1::before{
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;

	margin: 0 auto;
	/*height: 1010px;*/
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: -10;
}
#page1{
	height: 100%;
	width: 100%;
}
.logo-content{
	display: block;
  /*opacity: 0.9;*/
	position: absolute;
	width: 100%;
  left: 0;
	top: 20%;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	/*background: #FFFFFF;*/
}
.logo-content img{
	position: relative;
	left: 0%;
	animation-name: rotate;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	width: 40%;
}

#page2{
	z-index: 10;
	background-color: #eeeeee;
}


.meat{
	float:left;
	display: block;
	margin-top: 21%;
}
.plus{
	float:right;
	display: block;
	margin-top: 21%;
}
#page_3{
	background-color: #F7EDE8;
	background-size: cover;
	z-index: 20;
	display: block;
	overflow: auto;
}
.activity-pic-container{
	display: block;
	float: left;
	padding-top: 3rem;
	padding-left: 5rem;
	width: 35%;
}
.activity{
	width: 100%;
}
.activity_word{
width: 65%;
display: block;
float: left;
padding-left: 20%;
background: url("function/egg1.png") no-repeat;
background-size: cover;
}
.activity_word h1{
	margin-top: 250px;
	margin-left:0;
	font-size: 5rem;
}

.activity_word p {
	margin-top: 0px;

}

#page_4{
	background-color: #FCF7F7;
	background-size: cover;
	/*z-index: 30;*/
	display: block;
	overflow: auto;
}
#page_4::after{
	content: "";
	display: block;
	clear: both;
}

.game{
	width: 80%;
}
.game-pic-container{
	display: block;
	float: right;
	width: 55%;
	text-align: center;
}
.game_word{
	/*margin-right: 100px;*/
	float: right;
	padding-left: 8%;
	margin-left: 0%;
	margin-top: 6rem;
	width: 45%;
	background: url("function/ting6.png");
	background-size: cover;
	display: block;
}

.game_word h1, .game_word p{
	margin-left: 10%;
}
.game_word p{
	text-indent: 4.5rem;
}
.feedback{
	padding-top: 50vh;
	width: 100%;
	height: 100vh;
	display: block;
	background: url('function/bg.png') no-repeat center;
	background-size: cover;
}
.feedback-btn{
	position: relative;
	display: block;
	border: 4px solid #aaaaaa;
	border-bottom: 8px solid #aaaaaa;
	border-radius: 1rem;
	font-size: 3.5rem;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	padding: 1rem;
	cursor: pointer;
	background: #dddddd;
}
.feedback-btn:active{
	top: 4px;
	border-bottom: 4px solid #aaaaaa;
}
@media screen and (max-width: 1024px) {
	html{
		font-size: 10px;
	}
}
@media screen and (max-width: 676px){
	#page_3, #page_4{
		overflow: inherit;
	}
	.activity-pic-container, .activity_word, .game-pic-container, #page_4 .game_word{
		width: 100%;
		display: block;
		float: none;
		text-align: center;
	}
	.activity-pic-container{
		padding-left: 0;
	}
	.activity_word{
		padding: 0;
	}
	.activity_word h1{
		margin: 20px;
	}
	.activity{
		width: 60%;
	}
	.game_word{
		margin: 0;
		padding: 0;
	}
	.game_word h1{
		margin-left: 0;
	}
	.dog-intro-container, .text-intro-container{
		margin-top: 5%;
		padding: 0;
		float: none;
		text-align: center;
		width: 100%;
	}
	.dog-intro{
		width: 80%;
	}
	.function-header{
		margin: 0;
	}
	.function-header ~ h2{
		margin: 10px 0 0 0;
	}
	.function-header ~ p{
		margin: 5px 0 0 0;
		padding: 1rem;
		text-align: center;
	}
	.index-text p{
		font-size: 2rem;
	}
	.index-text p:nth-child(2){
		text-indent: 3rem;
	}
	.game_word p{
		text-indent: 0;
	}
	.feedback-btn{
		font-size: 2.5rem;
	}
}

@keyframes rotate {
		0%{
			left: -40%;
			width: 40%;
		}
		70%{
			left: 0%;
			width: 40%;
			transform-origin: 50% 50%;
			transform: rotate(0deg);
		}
		100%{
			left: 0%
			transform-origin: 50% 50%;
			transform: rotate(360deg);
			width: 0;
			height: auto;
		}
}
@keyframes  darker{
	0%{
		background: rgba(0,0,0,0);
	}
	100%{
		background: rgba(0,0,0,0.3);
	}
}
