*{
	box-sizing: border-box;
	font-family: 微軟正黑體;
	font-size: 16px;
}
html, body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
}
.container{
	width: 100%;
}
.container::after{
	content: "";
	display: block;
	clear: both;
}
.dog-intro-container{
	display: block;
	float: right;
	width: 60%;
	text-align: center;
}
.dog-intro{
	/*image*/
	width: 80%;
}
.index-intro-container{
	display: block;
	width: 100%;
	position: relative;
}
.index-pic{
	width: 100%;
}
.index-text{
	position: absolute;
	left: 0;
	bottom: 5%;
	width: 100%;
	background: rgba(255,255,255,0.6);
}
.index-text p{
	display: block;
	float: left;
	margin: 1.5rem 1.5rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}
.text-intro-container{
	margin-top: 8%;
	padding-left: 12%;
	width: 40%;
	display: block;
	float: left;
}
.function-header{
	font-size: 2.5rem;
	color: #2A7E3A;
}
.function-header ~ h2{
	color: #2A7E3A;
	font-size: 2rem;
	margin-top: 40px;
}
.function-header ~ p{
	text-align: justify;
	font-size: 1.5rem;
	margin: 20px 0;
}
#index{
	width: 100%;
	height: 100vh;
}
#page1::before{
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	background: url("01.png") no-repeat scroll center top;
	background-size: cover;
	margin: 0 auto;
	/*height: 1010px;*/
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: -10;
}
#page1{
	height: 100%;
	width: 100%;
}
.logo-content{
	display: block;
	text-align: center;
  /*opacity: 0.9;*/
	position: absolute;
	width: 100%;
  left: 0;
	top: 50%;
	background: rgba(255, 255, 255, 0.9);
	/*background: #FFFFFF;*/
}
.logo-content img{
	margin: 0 auto;
}
.logo-content h1{
	font-size: 2rem;
	color: #000000;
}

#page2{
	z-index: 10;
	background-color: #eeeeee;
}
.feedback {
	width: 100%;
	height: 100vh;
	display: block;
	background: url('images/bg.png') no-repeat scroll center;
	background-size: cover;
}
.feedback-btn{
	position: relative;
	left: 20%;
	top: 40%;
	width: 60%;
	height: 20%;
	font-size: 2.5rem;
	background: #BBC34B;
	border: 2px solid #000000;
}
@media screen and (max-width: 1024px) {
	html{
		font-size: 10px;
	}
}
@media screen and (max-width: 676px){
	.logo-content img{
		width: 25%;
	}
	.logo-content h1{
		color: #000000;
	}
	.dog-intro-container, .text-intro-container{
		margin-top: 5%;
		padding: 0;
		float: none;
		text-align: center;
		width: 100%;
	}
	.dog-intro{
		width: 80%;
	}
	.function-header{
		margin: 0;
	}
	.function-header ~ h2{
		margin: 10px 0 0 0;
	}
	.function-header ~ p{
		margin: 5px 0 0 0;
		padding: 1rem;
		text-align: center;
	}
	.feedback-btn{
		width: 80%;
		height: 15%;
		left: 10%;
		top: 42.5%;
	}
}
