*{
	font-family: 微軟正黑體;
	font-size: 16px;
}
html, body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
}
.container{
	width: 100%;
}
.container::after{
	content: "";
	display: block;
	clear: both;
}
.app-intro-container{
	display: block;
	float: left;
	width: 50%;
	text-align: center;
}
.app-intro{
	/*image*/
	margin-top: 20px;
	width: 50%;
}
.text-intro-container{
	width: 50%;
	display: block;
	float: left;
}
.function-header{
	font-size: 2rem;
	color: #2A7E3A;
}
.function-header ~ h2{
	color: #2A7E3A;
	font-size: 1.5rem;
	margin-top: 40px;
}
.function-header ~ p{
	font-size: 1rem;
	margin: 20px 0;
}
#index{
	width: 100%;
	height: 785.6px;
}
#page1::before{
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	background: url("01.png") no-repeat scroll center top;
	background-size: 1200px auto;
	margin: 0 auto;
	/*height: 1010px;*/
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: -10;
}
#page1{
	height: 100%;
	width: 100%;
}
.logo-content{
	display: block;
	text-align: center;
  /*opacity: 0.9;*/
	position: absolute;
	width: 100%;
  left: 0;
	top: 50%;
	background: rgba(255, 255, 255, 0.9);
	/*background: #FFFFFF;*/
}
.logo-content img{
	margin: 0 auto;
}
.logo-content h1{
	font-size: 1.5rem;
	color: #000000;
}
div.dog1{
    opacity: 0.5;
    text-align: center;
}
div.dog2{
    opacity: 0.5;
    text-align: center;
}
#page2{
	z-index: 10;
	background-color: #eeeeee;
}
.feedback {
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
}
.feedback a {
	text-decoration: none;
}
.feedback p {
	margin: 0;
	color: hsl(120, 100%, 50%);
	text-decoration: none;
	font-size: 2rem;
	padding: 29% 0 0 39%;
}
@media screen and (max-width: 676px){
	#page1::before{
		background-size: 800px auto;
	}
	#page1{
		height: 60%;
	}
	.logo-content{
		top: 20%;
	}
	.logo-content img{
		width: 25%;
	}
	.logo-content h1{
		font-size: 1rem;
		color: #000000;
	}
	.app-intro-container, .text-intro-container{
		float: none;
		text-align: center;
		width: 100%;
	}
	.app-intro{
		width: 40%;
	}
	.function-header{
		margin: 0;
	}
	.function-header ~ h2{
		margin: 10px 0 0 0;
	}
	.function-header ~ p{
		margin: 5px 0 0 0;
		padding: 1rem;
		text-align: justify;
	}
}
