*{
	box-sizing: border-box;
	font-family: 微軟正黑體;
	font-size: 16px;
	font-weight: normal;
}
html, body{
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
}
.container::after{
	content: "";
	display: block;
	clear: both;
}
.dog-intro-container{
	display: block;
	float: right;
	width: 60%;
	text-align: center;
}
.dog-intro{
	/*image*/
	width: 90%;
}
.index-intro-container{
	display: block;
	width: 100%;
	position: relative;
}
.index-intro-container::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	animation-name: darker;
	animation-delay: 1.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.index-pic{
	width: 100%;
}
.index-text{
	position: absolute;
	left: 0;
	top:20%;
	width: 100%;
	animation-delay: 2s;
}
.index-text p{
	color: #ffffff;
	margin: 20px 0 20px 10%;
	font-size: 2.5rem;
}
.index-text a{
	position: relative;
	bottom: 10%;
	margin-left: 15%;
	padding: 20px;
	font-size: 1rem;
	text-decoration: none;
	border: 2px solid #ffffff;
}
.index-text a:visited{
	color: #ffffff;
}

.text-intro-container{
	margin-top: 8%;
	padding-left: 8%;
	width: 40%;
	display: block;
	float: left;
	background: url("meat_bath.png");
	background-size: cover;
	height: 100%;
	/*opacity: 0.5;*/
}
.function-header{
	color: #2A7E3A;
	font-size: 4rem;
	margin-top: 20px;
	margin-bottom: 20px;
}
.function-header ~ p{
	text-align: justify;
	font-size: 1.5rem;
	margin: 5px 0 5px 50px;
}
#index{
	width: 100%;
	height: 100vh;
}
#page1::before{
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;

	margin: 0 auto;
	/*height: 1010px;*/
	height: 100%;
	width: 100%;
	opacity: 0.8;
	z-index: -10;
}
#page1{
	height: 100%;
	width: 100%;
}
.logo-content{
	display: block;
	text-align: center;
  /*opacity: 0.9;*/
	position: absolute;
	width: 100%;
  left: 0;
	top: 20%;
	background: rgba(255, 255, 255, 0.9);
	/*background: #FFFFFF;*/
}
.logo-content img{
	margin: 0 auto;
	animation-name: rotate;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	width: 40%;
}
.logo-content h1{
	font-size: 2rem;
	color: #000000;
}

#page2{
	z-index: 10;
	background-color: #eeeeee;
}
.feedback {
	width: 100%;
	height: 100vh;
	display: block;
	/*background: url('meat.png') no-repeat scroll center;*/
	/*background-size: cover;*/
	opacity: 0.8;
}
.feedback-btn{
	position: relative;
	left: 8%;
	top: 40%;
	/*width: 60%;*/
	/*height: 20%;*/
	margin-left: 28%;
	margin-right: 47%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: lightblue;
	/*font-size: 1.5rem;*/
	/*background: #BBC34B;*/
	/*border: 2px solid #000000;*/
}

.feedback-btn a{
	text-decoration: none;
	font-size: 2.5rem;
	font-family: 'Bree Serif', serif;
}
@media screen and (max-width: 1024px) {
	html{
		font-size: 10px;
	}
}
@media screen and (max-width: 676px){
	.logo-content img{
		width: 25%;
	}
	.logo-content h1{
		color: #000000;
	}
	.dog-intro-container, .text-intro-container{
		margin-top: 5%;
		padding: 0;
		float: none;
		text-align: center;
		width: 100%;
	}
	.dog-intro{
		width: 80%;
	}
	.function-header{
		margin: 0;
	}
	.function-header ~ h2{
		margin: 10px 0 0 0;
	}
	.function-header ~ p{
		margin: 5px 0 0 0;
		padding: 1rem;
		text-align: center;
	}
	.feedback-btn{
		width: 80%;
		height: 15%;
		left: 10%;
		top: 42.5%;
		padding: 10px;
		border: 3px solid blue;
	}
}

#page_3{
	background-color: #F7EDE8;
	background-size: cover;
	z-index: 20;
	display: block;
	/*height: 100%;*/
}

.activity{
	margin-top: 3rem;
	margin-left: 5rem;
	width: 35%
}
/*
.activity_img{
display: block;
float: left;
width: 40%;
text-align: center;
}
*/
.activity_word{
width: 40%;
display: block;
float: right;
margin-top: 20px;
background: url("egg.png") no-repeat;
background-size: cover;
/*margin-top: 300px;*/
/*background: url('meat.png');*/
/*background-size: cover;*/
/*z-index: 60;*/
}
.activity_word h1{
	margin-top: 300px;
	margin-left:0;
	font-size: 5rem;

}

.activity_word p {
	margin-top: 0px;

}

#page_4{
	background-color: #FCF7F7;
	background-size: cover;
	/*z-index: 30;*/
	display: block;
	height: 100vh;
}

.game{
	margin-top: 6rem;
	width: 40%;
	margin-left: 10%;
}
.game_word{
	/*margin-right: 100px;*/
	float:left;
	margin-left: 10%;
	margin-top: 10%;
	width: 40%;
	background: url("hua.png");
	background-size: cover;
	/*z-index: 50;*/
}
@keyframes rotate {
		0%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(360deg);
			width: 0;
			height: auto;
		}
}
@keyframes  darker{
	0%{
		background: rgba(0,0,0,0);
	}
	100%{
		background: rgba(0,0,0,0.3);
	}
}

.meat{
	float:left;
	/*width: 10%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	display: block;
	margin-top: 21%;
}
.plus{
	float:right;
	/*width: 50%;*/
	/*height: 100%;*/
 	/*position: absolute;*/
	/*bottom: 0;*/
	display: block;
	margin-top: 21%;
}
